<div class="container homeContent">
  <h1>Welcome to the PNW Hikers Group</h1>
  <h5>Have a look around and get hiking!</h5>

  <div materialize="carousel" class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://www.gannett-cdn.com/-mm-/9b77e496d3828fd58abc246ca89048d93fbd4475/c=301-0-4894-3453&r=x393&c=520x390/local/-/media/Salem/Salem/2014/05/16//1400278807016-UpperMeadow7.jpg"></a>
    <a class="carousel-item" href="#two!"><img src="https://mjfimages.files.wordpress.com/2013/04/oneonta_gorge_4-10-13_5d_007.jpg?w=1000"></a>
    <a class="carousel-item" href="#three!"><img src="https://images.theoutbound.com/contents/109223/assets/1457505579820?h=420&auto=format&q=50&h=600&w=900"></a>
    <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/325/225/nature/4"></a>
    <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/325/225/nature/3"></a>
  </div>
</div>
